* {
    font-family: Monospace;
    box-sizing: border-box;
}

@media (max-width: 768px){
    * {
        font-size: 3.5vmin;
        border-width: 0.75px;
        border-radius: 3px;
    }
}

@media (min-width: 769px){
    * {
        font-size: 2.5vmin;
        border-width: 1.5px;
        border-radius: 4px;
    }
}

span {
    font-size: inherit;
}

h1 { font-size: 5vmin; }
h2 { font-size: 4.75vmin; }
h3 { font-size: 3.5vmin; }
h4 { font-size: 3vmin; }
h5 { font-size: 2.5vmin; }
h6 { font-size: 2vmin; }

h1, h2, h3, h4, h5, h6 {
    margin: 1.5vh 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.spacetime {
    color: white;
    transition: 0.3s;
    background-color: black;
    border: 2px solid white;
}

.spacetime:hover, .spacetime:disabled {
    background-color: white;
    border-color: black;
    color: black;
}

.atomic {
    color: #60a0ff;
    transition: 0.3s;
    background-color: #183060;
    border: 2px solid #60a0ff;
}

.atomic:hover, .atomic:disabled {
    background-color: #102030;
    border-color: #4080d0;
    color: #4080d0;
}

.proton {
    color: #ff8080;
    text-shadow: 1px 1px 5px;
    font-size: 1.25em;
}

.neutron {
    color: #0080ff;
    text-shadow: 1px 1px 5px;
    font-size: 1.25em;
}

.electron {
    color: #d0d000;
    text-shadow: 1px 1px 5px;
    font-size: 1.25em;
}

