* {
    font-family: Monospace;
    box-sizing: border-box;
    border-color: var(--border-color);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: all 0.5s;
}

button, select {
    color: var(--text-color);
    background-color: var(--button-color);
}

input, textarea {
    color: var(--text-color);
    background-color: var(--bg-color);
}

button:hover {
    color: var(--hovered-button-color);
    background-color: var(--hovered-button-bg-color);
}

button:disabled {
    color: var(--disabled-button-color);
    background-color: var(--disabled-button-bg-color);
}

@media (max-width: 768px){
    * {
        font-size: 3.5vmin;
        border-width: 0.75px;
        border-radius: 3px;
    }
}

@media (min-width: 769px){
    * {
        font-size: 2.5vmin;
        border-width: 1.5px;
        border-radius: 4px;
    }
}

span {
    font-size: inherit;
}

h1 { font-size: 5vmin; }
h2 { font-size: 4.75vmin; }
h3 { font-size: 3.5vmin; }
h4 { font-size: 3vmin; }
h5 { font-size: 2.5vmin; }
h6 { font-size: 2vmin; }

h1, h2, h3, h4, h5, h6 {
    margin: 1.5vh 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.spacetime {
    color: var(--spacetime-color);
    transition: 0.3s;
    background-color: var(--spacetime-bg-color);
    border: 2px solid var(--spacetime-color);
}

.spacetime:hover, .spacetime:disabled {
    background-color: var(--spacetime-color);
    border-color: var(--spacetime-bg-color);
    color: var(--spacetime-bg-color);
}

.spacetime-alt {
    color: var(--spacetime-alt-color);
    transition: 0.3s;
    background-color: var(--spacetime-alt-bg-color);
    border: 2px solid var(--spacetime-alt-color);
}

.spacetime-alt:hover, .spacetime-alt:disabled {
    background-color: var(--spacetime-alt-color);
    border-color: var(--spacetime-alt-bg-color);
    color: var(--spacetime-alt-bg-color);
}

.atomic {
    color: #60a0ff;
    transition: 0.3s;
    background-color: #183060;
    border: 2px solid #60a0ff;
}

.atomic:hover, .atomic:disabled {
    background-color: #102030;
    border-color: #4080d0;
    color: #4080d0;
}

.proton {
    color: #ff8080;
    text-shadow: 1px 1px 5px;
    font-size: 1.25em;
}

.neutron {
    color: #0080ff;
    text-shadow: 1px 1px 5px;
    font-size: 1.25em;
}

.electron {
    color: #d0d000;
    text-shadow: 1px 1px 5px;
    font-size: 1.25em;
}

.gravity {
    color: #808080;
    text-shadow: 1px 1px 5px;
    font-size: 1.25em;
}
